@model IEnumerable<KeyTextViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    if (item.IsSelected)
    {
        <option value="@item.Id" selected>@item.Text</option>
    }
    else
    {
        <option value="@item.Id">@item.Text</option>
    }
}