@{
    Layout = null;
}

<label>فیلتر بر اساس وضعیت فرم: </label>
<select class="not-sol" onchange="filterByStatus(this.value)" style="margin-bottom: 5px;height: 28px;">
    <option value="">همه</option>
    <option value="بررسی نشده">بررسی نشده</option>
    <option value="تایید شده">تایید شده</option>
    <option value="رد شده">رد شده</option>
</select>