@model ChangePasswordViewModel
@{
    var entity = Url.ActionContext.RouteData.Values["controller"].ToString();
    var title = Entities.ResourceManager.GetString(entity);
    ViewData["Title"] = "تغییر رمز عبور";
}

@section breadcrumbs{
    @await Component.InvokeAsync("BreadCrumb", new
    {
        args = new AdminBreadCrumbArgsViewModel
        {
            EntityTitle = title,
            Controller = entity,
            PageType = AdminPageType.Edit
        }
    })
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


@inject IEntityService  entityService

<div class="content-wrapper">
    <div class="content">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>تغییر رمز عبور</h2>
            </div>
            <div class="infoForm">
                <form asp-antiforgery="true" method="post" id="infoForm" asp-route="edit">
                    <input type="hidden" name="SaveAndReturn" />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group  row" id="btn-row-opertion">
                        <div class="circle">
                            <button type="submit" class="submit-with-icon">
                                <span class="mdi mdi-content-save"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="OldPassword" class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ConfirmPassword" class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

