@model SystemFormViewModel
@{
    var entity = Url.ActionContext.RouteData.Values["controller"].ToString();
    var title = Entities.ResourceManager.GetString(entity);
    ViewData["Title"] = title;
}

@section breadcrumbs{
    @await Component.InvokeAsync("BreadCrumb", new
    {
        args = new AdminBreadCrumbArgsViewModel
        {
            EntityTitle = title,
            Controller = entity,
            PageType = AdminPageType.Edit
        }
    })
}

@inject IEntityService  entityService

<div class="content-wrapper">
    <div class="content">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>ویرایش ماژول</h2>
            </div>
            <div class="infoForm">
                <form asp-antiforgery="true" method="post" id="infoForm">
                    <input type="hidden" name="SaveAndReturn" />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group  row" id="btn-row-opertion">
                        <div class="circle">
                            <a href="@Url.Action("Index", "SystemForm")" class="submit-with-icon">
                                <span class="mdi mdi-close"></span>
                            </a>
                        </div>
                        <div class="circle">
                            <button type="submit" class="submit-with-icon">
                                <span class="mdi mdi-content-save"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Priority" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Priority" class="form-control" />
                            <span asp-validation-for="Priority"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Title" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="EntityName" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <select asp-for="EntityName" asp-items="@entityService.GetListOfAccessibleEntities().Select(x=>new SelectListItem { Text=x.Text,Value=x.Value })" class="form-control"></select>
                            <span asp-validation-for="EntityName"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ParentTitle" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="ParentTitle" class="form-control" />
                            <span asp-validation-for="ParentTitle"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ListOnly" class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <input asp-for="ListOnly" class="checkbox" />
                            <span asp-validation-for="ListOnly"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



