@model CompanyShareViewModel
@{
    var entity = Url.ActionContext.RouteData.Values["controller"].ToString();
    var title = Entities.ResourceManager.GetString(entity);
    ViewData["Title"] = title;
}

@section breadcrumbs{
    @await Component.InvokeAsync("BreadCrumb", new
    {
        args = new AdminBreadCrumbArgsViewModel
        {
            EntityTitle = title,
            Controller = entity,
            PageType = AdminPageType.Create
        }
    })
}

<div class="content-wrapper">
    <div class="content">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>ویرایش سرمایه شرکت</h2>
            </div>

            <div class="infoForm">
                <form class="form-horizontal" asp-antiforgery="true" method="post" id="infoForm">
                    <input type="hidden" name="SaveAndReturn" />
                    <input asp-for="Id" type="hidden" />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group  row" id="btn-row-opertion">
                        <div class="circle">
                            <a href="@Url.Action("Index", "CompanyShare")" class="submit-with-icon">
                                <span class="mdi mdi-close"></span>
                            </a>
                        </div>
                        <div class="circle">
                            <button type="submit" class="submit-with-icon">
                                <span class="mdi mdi-content-save"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CompanyId" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <kendo-combobox name="CompanyId" for="CompanyId" style="width:100%"
                                            datatextfield="Title"
                                            datavaluefield="Id"
                                            min-length="2"
                                            height="520"
                                            filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                    <transport>
                                        <read url="@Url.Action("Company_Read", "CompanyExtraordinaryMeeting")" />
                                    </transport>
                                </datasource>
                                <popup-animation>
                                    <open duration="500" />
                                    <close duration="500" />
                                </popup-animation>
                            </kendo-combobox>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Date" class="col-sm-1 control-label"></label>
                        <div class="input-group-addon clock col-sm-5" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#Date">
                            <span class="r-input-icon">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z" /></svg>
                            </span>
                            <input asp-for="JalaliDate" style="padding-right:60px" type="text" class="form-control" id="Date" placeholder="yyyy/mm/dd" data-MdDateTimePicker="true" data-placement="right" value="@Model?.JalaliDate" />
                            <span asp-validation-for="JalaliDate"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PreviousCapital" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">

                            <input asp-for="PreviousCapital" class="form-control" />
                            <span asp-validation-for="PreviousCapital"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ParValue" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">

                            <input asp-for="ParValue" class="form-control" />
                            <span asp-validation-for="ParValue"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="PreviousShares" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="PreviousShares" class="form-control" />
                            <span asp-validation-for="PreviousShares"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CurrentCapital" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CurrentCapital" class="form-control" />
                            <span asp-validation-for="CurrentCapital"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="CurrentShares" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CurrentShares" class="form-control" />
                            <span asp-validation-for="CurrentShares"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CapitalIncreaseFromAccumulatedProfits" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CapitalIncreaseFromAccumulatedProfits" class="form-control" />
                            <span asp-validation-for="CapitalIncreaseFromAccumulatedProfits"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CapitalIncreaseFromCash" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CapitalIncreaseFromCash" class="form-control" />
                            <span asp-validation-for="CapitalIncreaseFromCash"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="CapitalIncreaseFromShareholderReceivables" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CapitalIncreaseFromShareholderReceivables" class="form-control" />
                            <span asp-validation-for="CapitalIncreaseFromShareholderReceivables"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CapitalIncreaseFromAssetsRevaluation" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="CapitalIncreaseFromAssetsRevaluation" class="form-control" />
                            <span asp-validation-for="CapitalIncreaseFromAssetsRevaluation"></span>
                        </div>
                    </div>

                    @await Html.PartialAsync("_FormStatusField", new BaseStatusViewModel { FormStatus = Model.FormStatus, FormStatusComments = Model.FormStatusComments })
                </form>


            </div>
        </div>
    </div>
</div>
<script>

    function valueMapperCompany(options) {
        $.ajax({
            url: "@Url.Action("Company_Read_ValueMapper", "CompanyExtraordinaryMeeting")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>


